<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Add Rss</h1>
    <div class="buttons">
      <button class="button button-clear button-positive" ng-click="closeAddrss()">Cancel</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="show()">
      <div class="list">
        <label class="item item-input">
          <input placeholder="Rss name" type="text" ng-model="add_rssData.name">
        </label>
        <div class="item item-input">
        <label class="col-80">
          <input placeholder="Rss url" type="text" ng-model="add_rssData.url">
        </label>
          <a class="button button-light icon ion-qr-scanner" ng-click="scan_qr()"></a>
          </div>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Add</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
