<ion-modal-view style="height: 30%;top: 70%;">
  <ion-header-bar>
    <h2 class="title">Share</h2>
  </ion-header-bar>
  <ion-content scroll="false">
    <div class="row">
      <!-- <div class="col-33">
        <a class="button button-large button-clear item text-center button-full sprite-article" style="display:block;margin:0px;" ng-click="share(the_article, 'favourite')">
          <i class="i-icon" style="background-position: -297px -206px;"></i>
          <h4>WeChat favourite</h4>
        </a>
      </div> -->
      <div class="col-33">
        <a class="button button-large button-clear item text-center button-full sprite-article" style="display:block;margin:0px;" ng-click="share(the_article, 'session')">
          <i class="i-icon" style="background-position: -9px -18px;"></i>
          <h4>WeChat friend</h4>
        </a>
      </div>
      <div class="col-33">
        <a class="button button-large button-clear item text-center button- sprite-article" style="display:block;margin:0px;" ng-click="share(the_article, 'timeline')">
          <i class="i-icon" style="background-position: -53px -18px;"></i>
          <h4>WeChat moment</h4>
        </a>
      </div>
    </div>
    <button class="button button-full button-light" ng-click="close_article_modal()">Cancel</button>
  </ion-content>
</ion-modal-view>
