<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">{{ rss.name }}</h1>
    <div class="buttons">
      <button class="button button-clear button-positive" ng-click="closeArticle()">Back</button>
    </div>
  </ion-header-bar>
  <ion-content>
  <div class="card">
    <div class="item item-text-wrap">
        <h2 class="text-center">{{ the_article.title }}</h2>
        <p class="text-center">{{ the_article.pubDate }}</p>
        <br>
        <p compile="the_article.description"></p>
        <a ng-click="openinbrowser(the_article.link)"><i class="fa fa-search"></i> Read the original</a>
    </div>
    <div class="item item-divider">
      {{ rss.name }}
    </div>
  </div>
  </ion-content>
</ion-modal-view>
