<ion-view view-title="添加" ng-class="{true: 'background', false: ''}[settings.night]">
  <ion-content>
    <div class="row">
      <div class="col-33">
        <a class="button button-large button-clear item text-center button-full" ui-sref="tab.add_rsslist({category:'新闻'})" style="display:block;margin:0px;">
          <i class="sprite sprite-news"></i>
          <h3 ng-class="{true: 'light', false: ''}[settings.night]" >新闻</h3>
        </a>
      </div>
      <div class="col-33">
        <a class="button button-large button-clear item text-center button-full" ui-sref="tab.add_rsslist({category:'科技'})" style="display:block;margin:0px;">
          <i class="sprite sprite-tech"></i>
          <h3 ng-class="{true: 'light', false: ''}[settings.night]" >科技</h3>
        </a>
      </div>
      <div class="col-33">
        <a class="button button-large button-clear item text-center button-full" ui-sref="tab.add_rsslist({category:'游戏'})" style="display:block;margin:0px;">
          <i class="sprite sprite-game"></i>
          <h3 ng-class="{true: 'light', false: ''}[settings.night]" >游戏</h3>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-33">
        <a class="button button-large button-clear item text-center button-full" ui-sref="tab.add_rsslist({category:'文章'})" style="display:block;margin:0px;">
          <i class="sprite sprite-article"></i>
          <h3 ng-class="{true: 'light', false: ''}[settings.night]" >文章</h3>
        </a>
      </div>
      <div class="col-33">
        <a class="button button-large button-clear item text-center button-full" ui-sref="tab.add_rsslist({category:'博客'})" style="display:block;margin:0px;">
          <i class="sprite sprite-blog"></i>
          <h3 ng-class="{true: 'light', false: ''}[settings.night]" >博客</h3>
        </a>
      </div>
      <div class="col-33">
        <a class="button button-large button-clear item text-center button-full" ui-sref="tab.add_rsslist({category:'图片'})" style="display:block;margin:0px;">
          <i class="sprite sprite-image"></i>
          <h3 ng-class="{true: 'light', false: ''}[settings.night]" >图片</h3>
        </a>
      </div>

    </div>
    <div class="row">
      <div class="col-33">
        <a class="button button-large button-clear item text-center button-full" ng-click="add_rss()" style="display:block;margin:0px;">
          <i class="sprite sprite-manual"></i>
          <h3 ng-class="{true: 'light', false: ''}[settings.night]" >手动添加</h3>
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
