<ion-view view-title="About" hide-tabs on-swipe-right="myGoBack()">
  <ion-content>
  <br>
  <div class="text-center">
    <img src="img/rss/rss.png">
    <h4>Rsser 1.0.0</h4>
  </div>
  <ion-list>
    <ion-item class=" item-icon-right" type="item-text-wrap">
      Rate Rsser
      <i class="icon ion-chevron-right icon-accessory"></i>
    </ion-item>
    <ion-item class=" item-icon-right" type="item-text-wrap">
      Share Rsser
      <i class="icon ion-chevron-right icon-accessory"></i>
    </ion-item>
  </ion-list>
  <br>
    <p class="text-center">Rsser &copy; 2016</p>
  </ion-content>
</ion-view>
