<ion-view view-title="Home">
    <!-- <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-ios-gear" menu-toggle="left" ng-click="article_addition()">
        </button>
    </ion-nav-buttons> -->
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear" ng-class="{true: 'ion-ios-browsers', false: 'ion-ios-browsers-outline'}[data.showReorder]" menu-toggle="right" ng-click="showReorder()">
        </button>
    </ion-nav-buttons>

  <ion-content>
    <ion-list show-reorder="data.showReorder">
    <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="rss in rsslist track by rss.id" type="item-text-wrap" ui-sref="tab.detail({id:rss.id})">
      <img src="{{ rss.img }}">
      <h2>{{ rss.name }}</h2>
      <p>{{ rss.url }}</p>
      <i class="icon ion-chevron-right icon-accessory"></i>
      <!-- <ion-option-button class="button-energized" ng-click="edit_rss(rss)">
        Edit
      </ion-option-button> -->
      <ion-option-button class="button-assertive" ng-click="show(rss)">
        Delete
      </ion-option-button>
      <ion-reorder-button class="ion-navicon" on-reorder="moveItem(rss, $fromIndex, $toIndex)"></ion-reorder-button>
    </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
