<ion-view view-title="配置" ng-class="{true: 'background', false: ''}[settings.night]">
  <ion-content>
    <ion-list>
     <ion-toggle ng-class="{true: 'light', false: ''}[settings.night]" ng-model="settings.save_traffic">无图模式</ion-toggle>
     <ion-toggle ng-class="{true: 'light', false: ''}[settings.night]" ng-model="settings.night">夜间模式</ion-toggle>
    <!-- <ion-item class="item-icon-right" ui-sref="tab.favourite">
      My favourite
      <i class="icon ion-chevron-right icon-accessory"></i>
    </ion-item> -->
    <ion-item class="item-icon-right" ui-sref="tab.about">
      <span ng-class="{true: 'light', false: ''}[settings.night]">关于Rsser</span>
      <i class="icon ion-chevron-right icon-accessory"></i>
    </ion-item>
    </ion-list>
    <button class="button button-full button-assertive" ng-click="clearcache()">清空并重置</button>
    <p class="text-center" ng-class="{true: 'light', false: ''}[settings.night]">Rsser &copy; 2016</p>
  </ion-content>
</ion-view>
