<ion-view id="tour-view" hide-nav-bar="true">
  <ion-slide-box show-pager="true" scroll="false" on-slide-changed="slideChanged(index)">
    <ion-slide class="slide-class landing-one">
      <div id="0-down" class="animated fadeInDown">
      <!-- <div> -->
      <h2 class="light">曾经</h2>
      <br>
      <h5 class="light">你因为浏览新闻被各式各样的广告干扰</h5>
      </div>
      <br>
      <img id="0-img" src="img/landing/a_d_s.png" style="margin: 0px auto;" class="animated rotateIn">
      <br>
      <div id="0-up" class="animated fadeInUp">
      <!-- <div> -->
      <h5 class="light">你可以订阅新闻，直接浏览新闻源站</h5>
      <br>
      <h2 class="light">现在</h2>
      </div>
    </ion-slide>
    <ion-slide class="slide-class landing-two">
      <div id="1-down" class="animated">
      <h2 class="light">曾经</h2>
      <br>
      <h5 class="light">一个应用只有一种新闻，手机应用繁多</h5>
      </div>
      <br>
      <img id="1-img" src="img/landing/rss_connect.png" style="margin: 0px auto;" class="animated">
      <br>
      <div id="1-up" class="animated">
      <h5 class="light">一个应用包含多种新闻，阅读更方便</h5>
      <br>
      <h2 class="light">现在</h2>
      </div>
    </ion-slide>
    <ion-slide class="slide-class landing-three">
      <!-- <div class="animated fadeInDown"> -->
      <!-- <h2 class="light">曾经</h2>
      <br>
      <h5 class="light">一个应用只有一种新闻，手机应用繁多</h5>
      </div> -->
      <br>
      <img src="img/landing/radio.gif" style="margin: 0px auto;">
      <br>
      <div id="2-up" class="animated">
      <h2 class="light">Rsser</h2>
      <br>
      <h5 class="light">给你更灵活，方便的阅读新闻方式</h5>
      </div>
      <br>
      <a class="button button-light button-outline" ng-click="goHome(tour.version)"><h4 style="color: white;">去 体 验</h4></a>
    </ion-slide>
  </ion-slide-box>
</ion-view>
