<ion-view view-title="Welcome to Rsser" id="tour-view">
  <ion-slide-box show-pager="true">
    <ion-slide style="background-color: #00FF7F">
      <span class="icon icon-slide ion-document-text"></span>
      <h3>Clean no ads</h3>
    </ion-slide>
    <ion-slide style="background-color: #4169E1">
      <span class="icon icon-slide ion-ios-unlocked-outline"></span>
      <h3>Free read Free add</h3>
    </ion-slide>
    <ion-slide style="background-color: #F08080">
      <span class="icon icon-slide ion-happy-outline"></span>
      <h3>This is your news center</h3>
      <button class="button button-light button-outline" ng-click="goHome(tour.version)">Enjoy it!</button>
    </ion-slide>
  </ion-slide-box>
</ion-view>
