/* Empty. Add your own CSS if you like */
.rss-image{
    width:24px;
    height:24px;
    border-radius:5px;
}
#tour-view .slider {
  height: 100%;
}
#tour-view .slider-slide {
  padding-top: 100px;
  text-align: center;
}
#tour-view .icon-slide {
  font-size: 20em;
  display: inline-block;
}
.nav-class{
  background: #F0FFFF !important
}
.slide-class{
    background: #F0FFFF
}
.a-box{
  display: block;
  margin: 0px;
}
.sprite {
    background-image: url('../img/icon/spritesheet.png');
    background-repeat: no-repeat;
    margin: 0px auto;
    display: block;
}
.sprite-article {
    width: 32px;
    height: 32px;
    background-position: -5px -5px;
}
.sprite-blog {
    width: 32px;
    height: 32px;
    background-position: -47px -5px;
}
.sprite-game {
    width: 32px;
    height: 32px;
    background-position: -5px -47px;
}
.sprite-image {
    width: 32px;
    height: 32px;
    background-position: -47px -47px;
}
.sprite-manual {
    width: 32px;
    height: 32px;
    background-position: -89px -5px;
}
.sprite-news {
    width: 32px;
    height: 32px;
    background-position: -89px -47px;
}
.sprite-tech {
    width: 32px;
    height: 32px;
    background-position: -5px -89px;
}
.share {
    background-image: url('../img/icon/share_n.png');
    background-repeat: no-repeat;
    display: block;
    margin: 0px auto;
}
.share-wechat {
    width: 50px;
    height: 50px;
    background-position: 0 0;
}
.share-wechat_moment {
    width: 50px;
    height: 50px;
    background-position: -50px 0;
}
.add-label {
  height: 160px;
}
.background, .background .pane, .background .item, .background .item-complex .item-content {
    background-color: #444444 !important;
}
p.light {
  color:rgb(255, 255, 255)
}
.img-border {
  border-radius: 28px;
}
.refresh, .refresh .scroll-refresher, .refresh .ionic-refresher-content, .refresh .ionic-refresher-with-text, .refresh .spinner{
  color: #fff;
  stroke: #fff;
  fill: #fff;
}
.landing-one {
  background: url('../img/landing/one.png');
}
.landing-two {
  background: url('../img/landing/two.png');
}
.landing-three {
  background: url('../img/landing/three.png');
}
.button h3 {margin: 5px auto;}
