/* Empty. Add your own CSS if you like */
.rss-image{
    width:24px;
    height:24px;
    border-radius:5px;
}
#tour-view .slider {
  height: 100%;
}
#tour-view .slider-slide {
  padding-top: 100px;
  text-align: center;
}
#tour-view .icon-slide {
  font-size: 20em;
  display: inline-block;
}
.nav-class{
  background: #F0FFFF !important
}
.slide-class{
    background: #F0FFFF
}
.a-box{
  display: block;
  margin: 0px;
}
.sprite i{
  height: 31.7px;
  width: 31.7px;
  margin: 0px auto;
  display: block;
  background-image: url("../img/icon/Flatilicious.png");
}
.sprite-article i{
  height: 44px;
  width: 44px;
  margin: 0px auto;
  display: block;
  background-image: url("../img/icon/wechat_sm.png");
}
