/* Empty. Add your own CSS if you like */
.rss-image{
    width:24px;
    height:24px;
    border-radius:5px;
}
#tour-view .slider {
  height: 100%;
}
#tour-view .slider-slide {
  padding-top: 100px;
  text-align: center;
}
#tour-view .icon-slide {
  font-size: 20em;
  display: inline-block;
}
.nav-class{
  background: #F0FFFF !important
}
.slide-class{
    background: #F0FFFF
}
.a-box{
  display: block;
  margin: 0px;
}
.sprite i{
  height: 32px;
  width: 32px;
  border-radius: 16px;
  margin: 0px auto;
  display: block;
  background-image: url("../img/icon/FotorCreated.png");
}
.sprite-article i{
  height: 39px;
  width: 39px;
  border-radius: 19.5px;
  margin: 0px auto;
  display: block;
  background-image: url("../img/icon/share.png");
}
.add-label {
  height: 160px;
}
.background, .background .pane, .background .item, .background .item-complex .item-content {
    background-color: #444444 !important;
}
p.light {
  color:rgb(255, 255, 255)
}
.img-border {
  border-radius: 25px;
}
.refresh, .refresh .scroll-refresher, .refresh .ionic-refresher-content, .refresh .ionic-refresher-with-text, .refresh .spinner{
  color: #fff;
  stroke: #fff;
  fill: #fff;
}
.icon-color {
  color: white;
}
.landing-one {
  background: url('../img/landing/one.png');
}
.landing-two {
  background: url('../img/landing/two.png');
}
.landing-three {
  background: url('../img/landing/three.png');
}
